
@{
    ViewBag.Title = "Tablas";
}

<h2>Tablas</h2>

<div>
    <div class="row">
        <h3> Beneficiarios y Donaciones</h3>
        <p>Información referente a las donaciones</p>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Beneficiarios", "Index", "Beneficiarios")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Donaciones", "Index", "Donacions")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Donación-Institución", "Index", "DonacionInstitucions")</a>
        </div>



    </div> <br />

    <div class="row">
        <h3> Empleado</h3>
        <p>Información referente a los empleados</p>

        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Empleados", "Index", "Empleadoes")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Empleado-Equipo", "Index", "EmpleadoEquipoes")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Empleado-Especialidad", "Index", "EmpleadoEspecialidads")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Empleado-Institución", "Index", "EmpleadoInstitucions")</a>
        </div>
    </div> <br />

    <div class="row">
        
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Certificados", "Index", "Certificadoes")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Instituciónes Educativas", "Index", "InstitucionEducativas")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Tipos de Certificados", "Index", "TipoCertificadoes")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Tipos de Empleados", "Index", "TipoEmpleadoes")</a>
        </div>
    </div> <br />

    <div class="row">
        <h3>Institución</h3>
        <p>Información referente a las instituciones</p>

        <div class="col-md-3">
            <a class="btn btn-default" @Html.ActionLink("Instituciones", "Index", "Institucions")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Tipos de Instituciones", "Index", "TipoInstitucions")</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-default" @Html.ActionLink("Departamentos", "Index", "Departamentoes")</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-default" @Html.ActionLink("Especialidades", "Index", "Especialidads")</a>
        </div>
    </div> <br />

    <div class="row">
        <h3>Casos</h3>
        <p>Información referente a los casos</p>

        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Casos", "Index", "Casoes")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Equipo", "Index", "Equipoes")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Reportes", "Index", "Reportes")</a>
        </div>
    </div> <br />

    <div class="row">
        <h3>Materiales</h3>
        <p>Información referente a los materiales</p>

        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Instrumentos", "Index", "Instrumentoes")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Mobiliario", "Index", "Mobiliarios")</a>
        </div>

        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Reactivos", "Index", "Reactivoes")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Tipos de Instrumentos", "Index", "TipoInstrumentoes")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Tipos de Mobiliario", "Index", "TipoMobiliarios")</a>
        </div>
    </div> <br />

    <div class="row">
        <h3>Visitas</h3>
        <p>Información referente a las visitas</p>

        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Visitas", "Index", "Visitas")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Tipo de Visitas", "Index", "TipoVisitas")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Visitantes", "Index", "Visitantes")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Pases", "Index", "Pases")</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default" @Html.ActionLink("Tipo de Pases", "Index", "TipoPases")</a>
        </div>

    </div> <br />

</div>